@use "@sass-palette/hope-config";

.home.project {
  top: 0;

  width: 100%;
  max-width: unset;
  padding-right: 0;
  padding-left: 0;

  background-size: contain;
  background-repeat: no-repeat;

  .hero-info-wrapper {
    display: block;
    max-width: 100%;
    text-align: center;

    img {
      max-height: 300px;
      margin: 50px auto 0;
    }

    h1 {
      font-family: bobohei, sans-serif;
    }

    .description {
      max-width: 100%;
    }

    .actions {
      margin-left: -10px;
    }

    .action-button.primary {
      color: #fff;
      font-family: bobohei, sans-serif;
    }
  }

  .feature-wrapper {
    border-top: none;
  }

  h2 {
    border-bottom: none;
  }
}

#{hope-config.$content-class}.custom {
  padding: 0 5rem;
}

#{hope-config.$content-class}:not(.custom) > p,
#{hope-config.$content-class}:not(.custom) > ul p,
#{hope-config.$content-class}:not(.custom) > ol p {
  text-align: left;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
}

a.header-anchor:hover::before {
  color: var(--theme-color);
  font-size: 1em;
}

.vp-badge a{
  text-decoration: none;
  color: var(--white);
}